# TOOLS for DATA SCIENCE

## INTRODUCTION

### DATA SCIENCE LANGUAGES
- **Python.**
- **R.**
- **SQL.**
- **Scala.**
- **Julia.**
- **JavaScript.**
- **Java.**
- **C/C++**

### DATA SCIENCE LIBRARIES
- **Python Libraries:**
  - Pandas
  - NumPy
  - Matplotlib
  - Seaborn
  - Scikit-learn

- **R Libraries:**
  - dplyr
  - ggplot2
  - caret

- **SQL Libraries:**
  - SQLAlchemy
  - psycopg2 (for PostgreSQL)
  - pymysql (for MySQL/MariaDB)

### DATA SCIENCE TOOLS
- **Python Tools:**
  - Jupyter Notebook / JupyterLab
  - Anaconda (includes Python and many data science libraries)
  - Spyder (IDE for scientific computing)
  - PyCharm (IDE with strong data science support)
  
- **R Tools:**
  - RStudio
  - R command-line interface (CLI)
  
- **Data Visualization Tools:**
  - Tableau
  - Power BI
  - Plotly
  
- **Big Data Tools:**
  - Apache Hadoop
  - Apache Spark
  
- **Database Tools:**
  - MySQL Workbench
  - PostgreSQL
  
- **Version Control Tools:**
  - Git
  - GitHub
  - GitLab

### ARTHMATIC EXPRESSION

In [4]:
# multiply two numbers
a=3
b=2
print(a*b)
# add two numbers
print(a+b)

6
5

### MINUTES TO HOURS

In [21]:
b = input("enter the minutes")

enter the minutes 120

In [27]:
#converting above minutes to hours
float(b.result())/60.0

2.0

## OBJECTIVES

## AUTHOR
RAMA TEJA